<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>AngularJS - Provider</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script> 
	 <!--For routing use this ngRoute version - 1.2.0, or install ngRoute for upgraded versions-->
	<script src="17-Controller.js"></script>
	<style>
		table,th,td {
			border: 1px solid black
		}
	</style>
</head>
<body ng-app="AngularProvider" ng-controller="ProviderController">
	<table>
		<tr>
		<th colspan="2">
		Random Number Generator
		</th>
		</tr>
		<tr>
		<th>
		Random No.
		</th>
		<td>
		<b><i> {{random1}}</i></b>
		</td>
		</tr>
		<tr>
		<th>
		Hello 
		</th>
		<td>
		<i> {{fname}} </i>!
		</td>
		</tr>
		<tr>
		<td colspan="2">
			<button type="button" ng-click="generateNo()" style="width: 100%">GENERATE</button>
		</td>
		</tr>
		<tr>
		<td colspan="2">
			<button type="button" ng-click="sayhello()" style="width: 100%">Say Hi!</button>
		</td>
		</tr>
	</table>
	

</body>
</html>